<h2>All clients</h2>

#if ($clients)
  <ul>
    #foreach ($client in $clients)
      <li><a href="/clients/$client.fetchId()">$client.getName()</a></li>
    #end
  </ul>
#else
  <p>No clients!</p>
#end

<a href="/client/new">Add New client</a>
