<h2>All Clients</h2>

<ul>
  #foreach ($client in $clients)
    <li><a href="/clients/$client.getId()">$client.getName()</a></li>
    <li><a href="/clients/$client.getPhone()">$client.getPhone()</a></li>
  #end
</ul>

<a href="/clients/new">Add New client</a>
