<h2>All clients</h2>

#if ($clients)
<table>
<tr>
<th>Name</th>
  <th>Speciality</th>
    </tr>
  #foreach ($client in $clients)
  <tr>
    <td>$client.getName()</td>
    <td>$client.getPhone()</td>
</tr>
    #end
  </table>
#else
<p>No client yet!</p>
#end

<a href="/client/new">Add New client</a>
