<!DOCTYPE html>
<html>
  <head>
    <title>Urembo Hair Salon</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/app.css'>
  </head>
  <body>

    <nav class="navbar navbar-default">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
          </ul>
    </nav>

    <div class="container">
      #parse( $template )
    </div>

    <!-- FOOTER -->

    <div class="container">
      <footer class="footer">

    <hr>
        <div class="text-center center-block">
          <p class="txt-railway">- Stay in touch -</p>
            <br />
                <a href="https://www.facebook.com/njeriwanjoroge"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
	            <a href="https://twitter.com/njeriwanjoroge"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
	            <a href="https://plus.google.com/wanjorogegrace"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
	            <a href="https://instagram.com/njeriwanjoroge"><i id="social-em" class="fa fa-instagram fa-3x social"></i></a>
</div>
    <hr>

</footer>
</div>
<!--END FOOTER  -->

  </body>
</html>
